<a href="https://colab.research.google.com/github/MoumitaSaha18/HackerRank_Problem/blob/main/HackerRank_Problem_Solving.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***HackerRank Problem Solving ***

Day 1 - <br>Problem 1 - Python --> Basic Data Types --> List Cpmprehensions

You are given three integers x, y, and z representing the dimensions of a cuboid along with an integer n. Print a list of all possible coordinates given by (i, j, k) on a 3D grid where the sum of i + j + k is not equal to n. Here,
0 ≤ i ≤ x;
0 ≤ j ≤ y;
0 ≤ k ≤ z.

Please use list comprehensions rather than multiple loops, as a learning exercise.

In [ ]:
if __name__ == '__main__':
  x = int(input())
  y = int(input())
  z = int(input())
  n = int(input())

  result = [[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if (i+j+k) != n]

  print(result)

1
0
3
5
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 0, 3], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 0, 3]]

Day 2 - <br>Problem 2 - Python --> Basic Data Types --> Nested Lists

Given the names and grades for each student in a class of  N students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

In [ ]:
if __name__ == '__main__':
    students = [] #took a list to store name and score data in a list

    for _ in range(int(input())):
        name = input()
        score = float(input())
        students.append([name, score]) #storing name and score in a list named students

    #Sort students by score (ascending order)
    students.sort(key=lambda x: x[1])

    #Extracting the unique scores and finding the second lowest score
    scores = sorted(set(score for name, score in students))
    second_lowest_score = scores[1]

    #now i have to get the names of the students who got second lowest score
    second_lowest_score_students = sorted([name for name, score in students if score == second_lowest_score])

    #now I will print names in separate lines

    for students in second_lowest_score_students:
        print(students)

4
kely
35
ama
35
lucy
98
jake
98
jake
lucy

Day 3 - <br>Problem 3 - Python --> Basic Data Types --> Finding the percentage
<br>
The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks array for the student name provided, showing 2 places after the decimal. <br>
<br>
For Example:<br>
marks key:value pairs are <br>
'alpha': [20,30,40]<br>
'beta': [30,50,70]<br>
query_name = 'beta'<br>
<br>
The query_name is 'beta'. beta's average score is (30+50+70)/3 = 50.0